DATABASE_URL="ADD_YOUR_DATABASE_URL"

AUTH_SECRET="ADD_YOUR_AUTH_SECRET"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="ADD_YOUR_CLOUD_NAME"
NEXT_PUBLIC_CLOUDINARY_API_KEY="ADD_YOUR_API_KEY"
CLOUDINARY_API_SECRET="ADD_YOUR_API_SECRET"

# Pusher
NEXT_PUBLIC_PUSHER_APP_KEY="ADD_YOUR_PUSHER_APP_KEY"
PUSHER_APP_ID="ADD_YOUR_PUSHER_APP_ID"
PUSHER_SECRET="ADD_YOUR_PUSHER_SECRET"

# Google
GOOGLE_CLIENT_ID="ADD_YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="ADD_YOUR_GOOGLE_CLIENT_SECRET"
